.card-items{
    color: #fff;
    display: flex;
    width: 1500px;
    height: 200px;
    flex-wrap: wrap;
 }
 
 .card-items .item-unico{
     padding: 10px 0px;
     position: relative;
     top: 5%;
     left: 0.5%;
     overflow:visible;
 }
 .card-items .item-unico label{
    display: flex;
    flex-direction: row;
 }
 .card-items .item-unico input{
     max-width: 20%;
 }
 .card-items .item-unico img{
     max-width: 150px;
     max-height: 150px;
 }